.sub-title {
  font-size: 1.2em;
  margin: 0;
  font-weight: 500;
  color: #666666;
}

.card {
  border: 1px solid #EBEEF5;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 18px;
  position: relative;
}

.link {
  //position: absolute;
  //top: 18px;
  //right: 18px;
  font-size: 16px;
  color: #5296CF;
}

ul,li{ padding:0;margin:0;list-style:none }
